<h1 class="row main-center">Sign Up</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <div class="col margin8">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="row main-center">
    <%= form.submit %>
  </div>
<% end %>
